<style>
    .content {
        max-width: 500px;
        width: 100%;
        border: 1px solid #000;
        border-radius: 3px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .separador {
        width: 100%;
        background-color: black;
    }
    .h-1 {
        height: 15px;
    }
    .h-2 {
        height: 7px;
    }
    .h-3 {
        height: 5px
    }
    p {
        margin-top: 0.2em;
        margin-bottom: 0em;
    }
    .bb {
        border-bottom: 1px solid #aaa;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-admin-dark" style="z-index: 10; width: 100%">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="/images/logogray.png" style="height: 50px" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="width: 100%">
        <a class="nav-link" href="/admin">Home</a>
        <a class="nav-link" href="/admin/users">Usuarios</a>
        <a class="nav-link active" aria-current="page" href="/admin/ingredientes">Ingredientes</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Docs</a>
        <a class="nav-link ms-auto" href="/logout"><i class="fas fa-sign-out-alt"></i>&nbsp Logout</a>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <div class="mt-5 d-flex justify-content-center align-items-center flex-row">
            <h1>{{nombre}}&nbsp</h1>
            <p><span class="badge bg-primary">{{nombreParte}}</span>&nbsp<span class="badge bg-secondary">{{nombreEstado}}</span></p>
    </div>
    <div class="content">
        <h2>Datos nutricionales</h2>
        <p class="mb-3">Tamaño de la porcion (100 g)</p>
        <div class="separador h-1"></div>
        <p><strong>Cantidad por porcion</strong></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col p-0">
                    <h3><strong>Calorias</strong></h3>
                </div>
                <div class="col text-end">
                    <h3><strong>{{calorias}}</strong></h3>
                </div>
            </div>
        </div>
        <div class="separador h-2"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-end">
                    <p>% Valor Diario *</p>
                </div>
            </div>
            <div class="row bb">
                <div class="col">
                    <p><strong>Carbohidratos totales </strong>{{carbs}} g</p>
                </div>
                <div class="col-3 text-end">
                    <p class="text-end">{{carbs_percent}} %</p>
                </div>
            </div>
            <div class="row bb">
                <div class="col">
                    <p><strong>Grasas totales </strong>{{fats}} g</p>
                </div>
                <div class="col-3 text-end">
                    <p class="text-end">{{fats_percent}} %</p>
                </div>
            </div>
            <div class="row bb">
                <div class="col">
                    <p><strong>Proteina </strong>{{proteins}} g</p>
                </div>
                <div class="col-3 text-end">
                    <p class="text-end">{{proteins_percent}} %</p>
                </div>
            </div>

            <div class="row mt-5">
                * El porcentaje de un nutriente en una porción de alimento, basado en el estándar establecido de 2000 calorías al día.
            </div>
        </div>
    </div>
</div>

